<div class="login-container">
    <mat-card class="login-card">
        <mat-card-header>
            <div class="logo-placeholder">
                <img src="/assets/images/brand/legacy-vertical-color.svg" alt="LEGACY Network" class="app-logo">
            </div>
        </mat-card-header>
        <mat-card-content>
            <form (submit)="login()">
                <mat-form-field appearance="outline" class="full-width">
                    <mat-label>Usuario / Correo</mat-label>
                    <input matInput placeholder="Ingrese su usuario" [(ngModel)]="email" name="email">
                </mat-form-field>

                <mat-form-field appearance="outline" class="full-width">
                    <mat-label>Contraseña</mat-label>
                    <input matInput type="password" placeholder="Ingrese su contraseña" [(ngModel)]="password"
                        name="password">
                </mat-form-field>

                <div class="remember-me">
                    <mat-checkbox>Recordar mis datos</mat-checkbox>
                </div>
            </form>
        </mat-card-content>
        <mat-card-actions>
            <button mat-flat-button color="primary" class="full-width-btn" (click)="login()">INGRESAR</button>
        </mat-card-actions>
    </mat-card>
</div>